{% load i18n staticfiles %}
{% load blog_extra %}

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport"    content="width=device-width, initial-scale=1.0">
	<meta name="description" content="">
	<meta name="author"      content="Sergey Pozhilov (GetTemplate.com)">

	<title>Kenan Subaşı {% block title %} - Home {% endblock%}</title>

  {% block import-css%}
  	<link rel="shortcut icon" href="assets/images/gt_favicon.png">

  	<!-- Bootstrap -->
  	<link href="{% static 'lib/bootstrap/css/bootstrap.no-icons.min.css' %}" rel="stylesheet">
  	<!-- Icons -->
  	<link href="{% static 'lib/font-awesome/css/font-awesome.min.css'%}" rel="stylesheet">
  	<!-- Fonts -->
  	<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Alice|Open+Sans:400,300,700">
  	<!-- Custom styles -->
  	<link rel="stylesheet" href="{% static 'css/styles.css'%}">

  	<!--[if lt IE 9]> <script src="assets/js/html5shiv.js"></script> <![endif]-->
  {% endblock %}
</head>
<body class="home">

	{% block  header %}
		<header id="header">

			{% block info %}
				<div id="head" class="parallax" parallax-speed="2">
					<h1 id="logo" class="text-center">
						<img class="img-circle" src="{% static 'images/guy.jpg' %}" alt="">
						<span class="title">Kenan Subaşı</span>
						<span class="tagline">Junior Developer<br>
			        {% comment %}
							<a href="">kenansubasiceng@gmail.com</a></span>
			        {% endcomment %}
					</h1>
				</div>
			{% endblock %}

			{% block navbar %}
				<nav class="navbar navbar-default navbar-sticky">
					<div class="container-fluid">

						<div class="navbar-header">
							<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
						</div>

						<div class="navbar-collapse collapse">

							<ul class="nav navbar-nav">
			          {% with request.path|splitUrl as activeUrl %}
			  					<li {% if activeUrl == "" %} class="active" style="font-weight:bold;"{% endif %}><a href="{% url 'index' %}">{{ 'Home'|upper }}</a></li>
			  					<li {% if activeUrl == "about" %} class="active" style="font-weight:bold;"{% endif %}><a href="{% url 'index' section='about' %}">About</a></li>
			  					<li {% if activeUrl == "blogs" %} class="active" style="font-weight:bold;"{% endif %}><a href="{% url 'index' section='blogs' %}">Blogs</a></li>
			          {% endwith %}
							</ul>

						</div><!--/.nav-collapse -->
					</div>
				</nav>
			{% endblock %}

		</header>
	{% endblock %}

	{% block content %}
		<main id="main">

			<div class="container">

				{% if important_blogs != None %}
					<div class="row section recentworks topspace">

						<h2 class="section-title"><span>Most Like Blogs</span></h2>

						<div class="thumbnails recentworks row">

							{% for important_blog in important_blogs %}
								<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
									<a class="thumbnail" href="{% url 'blog' id=important_blog.id %}" >
										<span class="img">
											<img src="{% static 'images/s1.jpg' %}" alt="">
											<span class="cover"><span class="more">See details &rarr;</span></span>
										</span>
										<span class="title">{{ important_blog.title }}</span>
									</a>
									<span class="details"><a href="">Web design</a> | <a href="">Logotype</a></span>
									<h4></h4>
									<p></p>
								</div>
							</div>
					{% endfor %}

				</div> <!-- /section -->
				{% endif %}

			</div>	<!-- /container -->

		</main>
	{% endblock %}

	<footer id="footer">
		<div class="container">
			<div class="row">
				<div class="col-md-3 widget">
					<h3 class="widget-title">Contact</h3>
					<div class="widget-body">
						<p>+234 23 9873237<br>
							<a href="mailto:#">some.email@somewhere.com</a><br>
							<br>
							234 Hidden Pond Road, Ashland City, TN 37015
						</p>
					</div>
				</div>

				<div class="col-md-3 widget">
					<h3 class="widget-title">Follow me</h3>
					<div class="widget-body">
						<p class="follow-me-icons">
							<a href=""><i class="fa fa-twitter fa-2"></i></a>
							<a href=""><i class="fa fa-dribbble fa-2"></i></a>
							<a href=""><i class="fa fa-github fa-2"></i></a>
							<a href=""><i class="fa fa-facebook fa-2"></i></a>
						</p>
					</div>
				</div>

			</div> <!-- /row of widgets -->
		</div>
	</footer>

	{% comment %}
	<footer id="underfooter">
		<div class="container">
			<div class="row">

				<div class="col-lg-3  col-lg-offset-3 widget">
					<div class="widget-body">
						<p>234 Hidden Pond Road, Ashland City, TN 37015 </p>
					</div>
				</div>

				<div class="col-lg-3 widget">
					<div class="widget-body">
						<p class="text-right">
							Copyright &copy; 2014, Your awesome name here<br>
							Design: <a href="http://www.gettemplate.com" rel="designer">Initio by GetTemplate</a> </p>
					</div>
				</div>

			</div> <!-- /row of widgets -->
		</div>
	</footer>
	{% endcomment %}



<!-- JavaScript libs are placed at the end of the document so the pages load faster -->
<script src="{% static 'lib/jquery/jquery.min.js' %}"></script>
<script src="{% static 'lib/bootstrap/js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/template.js' %}"></script>
</body>
</html>
